*{
	margin: 0;
	padding: 0;
}
section.slider {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 50px;
	background-color: #ababab;
}
.slide-wrapper {
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto;
	transform: translate(0 1280px);
}
.slide-wrapper ul {
	display: flex;
	flex-direction: row;
	width: 100%;
	transform: translateX(0);
}
.slide-wrapper ul li {
	width: 100%;
}
/*
======================================
|				BUTTONS              |
======================================
*/
.button {
	font-size: 28px;
	color: white;
	font-weight: 600;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid #ababba;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	margin-top: -20px;
	transition: 1s all;
}
.button:hover {
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	transform: scale(1.1);
	transition: 1s all;
}
.prev {
	left: 20px;
}
.next {
	right: 20px;
}