form {
    border: 2px solid skyblue;
}
label {
    display: inline-block;
    margin-bottom: 20px;
}
.required {
    color: red;
}
input[type=submit] {
    color: blue;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
}
input[type=submit]:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
input[type=button] {
    color: red;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}
input[type=button]:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
