.container {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.menu-1 {
    width: 100%;
}
ul.menu-1>li {
    display: inline-block;
    position: relative;
    width: 24%;
    font-size: 30px;
    line-height: 35px;
    background-color: aqua;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
ul.menu-1>li>ul {
    display: block;
    position: absolute;
    left: -2000px;
    background-color: aquamarine;
}
ul.menu-1>li>ul li {
    padding: 5px 10px;
    border: 1px solid black;
}
ul.menu-1>li>ul li:hover {
    padding-left: 20px;
    font-weight: 600;
    transition: 0.5s all;
}
ul.menu-1>li:hover ul {
    left: 20px;
    transition: 0.5s;
}

/*gallery*/
.gallery {
    margin: 0 auto;
    text-align: center;
}
.gallery img {
    margin: 10px 20px;
}
.gallery>img:nth-child(1):hover {
    transform: rotate(720deg);
    transition: 5s;
}
.gallery>img:nth-child(2):hover {
    transform-origin: 0 50%;
      transform: perspective(710px) rotateY(15deg);
    transition: 1s;
}
.gallery>img:nth-child(3):hover {
    transform: scale(1.5);
    transition: 1s;
}
.gallery>img:nth-child(4):hover {
    transform: skewX(15deg);
    transition: 1s;
}
.gallery>img:nth-child(5):hover {
    transform: skewY(15deg);
    transition: 1s;
}
.gallery>img:nth-child(6):hover {
    transform: translateX(30px);
    transition: 1s;
}
.exp {
    position: relative;
    margin-bottom: 200px;
}
h2 {
    display: block;
}
.exp img {
    display: block;
    width: 100px;
    position: absolute;
}
.exp img:nth-child(1) {
    top: 0;
    left: 0;
    transition-timing-function: linear;
}
.exp img:nth-child(2) {
    top: 125px;
    left: 0;
    transition-timing-function: ease-in;
}
.exp img:nth-child(3) {
    top: 190px;
    left: 0;
    transition-timing-function: ease-out;
}
.exp img:hover {
    transform: translateX(500px);
    transition: 6s;
}

/*social*/
.social{
    position: relative;
    text-align: center;
}
.social ul li {
    display: inline-block;
}
a.btn {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: brown;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}
a.btn::before {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    left: -60px;
}
a.btn:hover::before {
    left: 0;
    transition: 0.5s all;
}
a.btn:active::before {
    left: 60px;
    transition: 0.5s all;
}


















